:root {
  --color1: #ffffff;
  --color2: #0a0f16;
  --color3: #196676;
  --color4: #ff5e5b;
  --color5: #ec7fff;
  --color-nav-shadow: #c1c1c1db;
  --scroll: 0; 
}
::-moz-selection {
  /* Code for Firefox */
  background: var(--color5);
}

::selection {
  background: var(--color5);
}
/* width */
::-webkit-scrollbar {
  width: 8px;
  transition: all 0.3s;
}
::-webkit-scrollbar:hover {
  width: 16px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #c7c7c7;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color3);
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color4);
}
html {
  scroll-behavior: smooth;
  
}
body {
  margin: 0px;
  padding: 0px;
  font-family: custom-regular, "Courier New", Courier, monospace;
  min-height: 99vh;
  min-height: 99vh;

  background: radial-gradient(#c7c7c7 10%, #d1d1d1 20%, var(--color1) 80%);
  background-position: center 100%;
  background-repeat: no-repeat;
  background-size: 200% 200%;
  background-color: var(--color1);
  color: var(--color2);

  &.dark {
    background: radial-gradient(
      #d1d1d1 0%,

      #555555 10%,
      var(--color1) 20%
    );
    background-position: center 120%;
    background-repeat: no-repeat;
    background-size: 200% 200%;
    background-color: var(--color1);
  }
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  font-size: 0.9rem;
  box-sizing: border-box;
  padding: 0px 2rem;
  background-color: var(--color-nav-shadow);
  border-radius: 12px;
  backdrop-filter: blur(3px);

  & a {
    text-decoration: inherit;
    color: var(--color2);
    &.active {
      color: var(--color3);
    }
  }
  @media (max-width: 900px) {
    &:not(.open) {
      & a {
        display: none;
      }
      & label {
        display: none;
      }
    }
  }
  @media (min-width: 900px) {
    flex-direction: row;
    & a {
      display: inherit;
    }
  }
}

header {
  text-align: center;
  position: fixed;
  z-index: 100;
  top: 20px;
  display: flex;
  width: 100%;
  justify-content: center;
  height: fit-content;
}

main {
  max-width: 100%;
  margin: 0 auto;
  padding: 0px 32px;

  @media (min-width: 1000px) {
    max-width: 932px;
  }
}

img {
  user-select: none;
  -webkit-user-drag: none;
  &.oval {
    border-radius: 50%;
  }
  &.roundrec {
    border-radius: 12px;
  }
  &.pic {
    cursor: pointer;
    animation: pic-animation 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;
  }
}
b,
h1,
h2,
h3 {
  font-family: custom-bold;
  font-weight: 700;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
a {
  color: var(--color3);
}
strong {
  font-family: custom-bold;
  font-size: 1.1rem;
  font-weight: 700;
  color: var(--color3);
}
section {
  /* height: 100vh; */
  scroll-margin: 100px;
  scroll-snap-align: start;
  padding: 9rem 0px;
}
footer {
  scroll-snap-align: end;
  font-size: 9px;
  padding: 9px;
}
/**
MODIFIERS
**/
.--text-red {
  color: var(--color4);
}
/**
CUSTOMS
**/
.chicken {
  position: absolute;
  z-index: 100;
  top: 0px;
  left: 0px;
  width: 20px;
  cursor: pointer;
  transition: all 0.1s, transform 0.6s;
}
.message {
  position: absolute;
  font-size: 8px;
  background: white;
  border-radius: 3px;
  padding: 3px;
  border: thin solid #111;
  transition: all 1s;
  user-select: none;
  color: #111;
  &.puff {
    opacity: 0;
    transform: scale(0) translate(30px, -100px);
  }
}
.iam {
  text-align: center;
}
.about {
  margin-bottom: 2rem;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  &.--column {
    flex-direction: column;
  }
  &.--align-start {
    align-items: flex-start;
  }
}

.switch {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-self: center;
  gap: 0.2rem;
}
.switch input {
  appearance: none;
  position: relative;
  display: inline-block;
  background: lightgrey;
  height: 1.65rem;
  width: 2.75rem;
  vertical-align: middle;
  border-radius: 2rem;
  box-shadow: 0px 1px 3px #0003 inset;
  transition: 0.25s linear background;

  &::before {
    content: "";
    display: block;
    width: 1.25rem;
    height: 1.25rem;
    background: #fff;
    border-radius: 1.2rem;
    position: absolute;
    top: 0.2rem;
    left: 0.2rem;
    box-shadow: 0px 1px 3px #0003;
    transition: 0.25s linear transform;
    transform: translateX(0rem);
  }
  &:checked {
    background: var(--color3);
  }
  &:checked::before {
    transform: translateX(1rem);
  }
}

.dark-mode-switch {
  /* position: absolute;
  top: 1rem;
  right: 20px; */
  color: var(--color2);
  gap: 0.5rem;
  &::after {
    content: "";
    width: 16px;
    height: 16px;
    background-image: url("../images/icons/icon-light.png");
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.experience-timeline {
  width: auto;
  margin: 0 auto;
  padding: 0px;
  border-left: dashed var(--color2);
  & h3 {
    color: var(--color3);
  }
  & li {
    justify-content: flex-start;
  }

  & .side {
    padding: 1rem;
  }
  & .side:first-child::before {
    content: "";
    background-color: var(--color3);
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    position: absolute;
    transform: translate(-1.5rem, 2rem);
  }

  @media (min-width: 900px) {
    width: fit-content;

    & .side:first-child {
      width: 300px;
    }
    & .side:last-child {
      width: calc(90% - 300px);
    }
  }
}
@media (min-width: 900px) {
  .perfil-side-left {
    width: calc(98% - 300px);
  }
  .perfil-side-right {
    width: 300px;
  }
}
.end-cursor::after {
  content: "_";
  width: 0.5rem;
  height: 20px;
  margin-left: -1.1rem;
  background: var(--color5);
  display: inline-block;
  animation: cursor-blink 1.5s steps(2) infinite;
}

.bind-scroll-anim {
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

.over-pic {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  & .pic {
    position: absolute;
    z-index: 0;
    left: 0px;
    transition: top 0.3s;
    top: calc(var(--scroll) * 300px);
  }
}
#skills ul {
  list-style: none;
}
.skill-pill {
  background-color: black;
  color: white;
  padding: 8px 16px;
  width: fit-content;
  margin: 5px;
  box-sizing: border-box;
  border: solid 2px black;
  border-width: 5px;
  cursor: pointer;
  &:hover {
    border-image-source: linear-gradient(to left, var(--color1), var(--color2));
    animation: border-anim 0.6s cubic-bezier(0.23, 1, 0.32, 1) both infinite;
    border-image-slice: 1;
  }
}

.mobile-menu-button {
  background: none;
  border: none;
  width: 1rem;
  height: 1rem;
  margin: 0.5rem;
  background-color: var(--color2);
  mask-image: url(../images/icons/menu.png);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: cover;
  &.close {
    mask-image: url(../images/icons/close.png);
  }
  &:active {
    transform: scale(0.8);
  }
  @media (min-width: 900px) {
    display: none;
  }
}

#perfil {
  overflow: hidden;
}
.stack {
  position: relative;
  width: 200px;
  height: 270px;
  & .stack-card {
    position: absolute;
    z-index: 2;
    width: 200px;
    height: 270px;
    object-fit: cover;
    cursor: move;
    transition: left 0.6s, top 0.6s;
    box-sizing: border-box;
    &.draggin {
      border: solid var(--color3);
      transition: none;
    }
  }
}
.space-trigger {
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s;
  user-select: none;
  -webkit-user-drag: none;
  &:active {
    font-size: 12px;
  }
}
.game-container {
  width: 100vw;
  height: 100svh;
  background-color: #111111db;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 510;
  opacity: 0;
  transition: all 1s;
  user-select: none;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  
  #space-game{
    width: 400px;
    max-width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
  }
}
/** DARK MODE OVERRIDE **/

body.dark {
  --color1: #0a0f16;
  --color2: #ffffff;
  --color3: #abc123;
  --color-nav-shadow: #333333db;
}

body.dark .hero-web-link {
  img {
    filter: grayscale(1) invert(2) contrast(1);
  }
}
body.dark .dark-mode-switch::after {
  background-image: url("../images/icons/icon-dark.png");
}
.hor-scroller {
  overflow: hidden;
  width: 100%;
  mask: linear-gradient(90deg, transparent, white 5%, white 95%, transparent);
  ul {
    flex-wrap: nowrap;
    justify-content: flex-start;
    animation: scroll-hor linear 20s infinite;
    animation-direction: alternate;
  }
}
#skill-list .hor-scroller:last-child ul {
  animation-direction: alternate-reverse;
}
#games {
  position: relative;


  .container {
    width: calc(100vw - 20px);
    min-height: 400px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    background-color: #c7c7c7;
    box-shadow: 0px 0px 0px 10px #c7c7c7;
  }
}
/**
ANIMATIONS
**/
@keyframes pic-animation {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    -webkit-filter: blur(50px);
    filter: blur(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(50px);
    transform: translateZ(50px);
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);

    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}

@keyframes border-anim {
  0% {
    border-image-source: linear-gradient(to left, var(--color5), var(--color3));
  }
  50% {
    border-image-source: linear-gradient(to left, var(--color3), var(--color5));
  }
  100% {
    border-image-source: linear-gradient(to left, var(--color5), var(--color3));
  }
}

@keyframes scroll-hor {
  to {
    transform: translate(calc(-100% + 3rem));
  }
}
