.wrapper {
  max-width: 500px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(10, 32px);
  justify-content: center;
  cursor: var(--sword);
}
.cell {
  width: 32px;
  height: 32px;
  box-sizing: border-box;
  background-color: var(--primary);
  z-index: 1;
}
.cell.hidden {
  visibility: hidden;
}
.cell .icon-pack {
  transform: scale(2) translate(4px, 4px);
}
.layer {
  position: absolute;
  max-width: 500px;
  max-width: 100%;
  display: grid;
  justify-content: center;
  align-self: center;
  justify-self: center;
  width: 320px; 
  height: 320px;
  left: calc(50% - 160px);
  box-sizing: border-box;
  z-index: 0;
  border: solid red;
}
